.jumbotron{
    padding: 7rem;
    background-image: url(../img/line.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.what{
    padding: 5rem;
}
.history{
    padding: 5rem;
}
footer{
    padding-bottom: 3rem;
    background-color: #0D1282;
}
.alamat{
    background-color: #0D1282;  
}